.NavBar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: blue;
}
.emailZone{
    margin-right: 20px;
    padding: 5px;
    max-width: 15px;
    background-color: transparent;
    outline-style: none;
    border: none;
}

